<app-loader [isLoading]="isLoading"></app-loader>

<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="createIdentity()">
    <div class="sub-container">
      <label for="address" class="label">Your Address</label>
      <input
        type="text"
        formControlName="userAddress"
        id="address"
        name="address"
        class="input"
        placeholder="0x12345...890"
        required
      />
    </div>

    <div class="btn-container">
      <button type="submit" class="btn">Create Identity</button>
      <div *ngIf="idCreated" class="address-toast">
        {{ myForm.get("userAddress")?.value ? identityAddressMessage : "" }}
      </div>
    </div>
    <div>{{ identityAddressMessage }}</div>
  </form>
</div>
