<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="mintToken()">
    <div class="sub-container">
      <label for="address" class="label">Owner Address</label>
      <input
        type="text"
        id="address"
        class="input"
        placeholder="0x12345...890"
        formControlName="ownerAddress"
        required
      />
    </div>

    <div class="two-fields">
      <div>
        <label for="tokenName" class="label">Token ID</label>
        <input
          type="text"
          id="tokenName"
          class="input"
          placeholder="MyToken"
          formControlName="tokenId"
          required
        />
      </div>

      <div>
        <label for="tokenSymbol" class="label">Amount of Tokens</label>
        <input
          type="text"
          id="tokenSymbol"
          class="input"
          placeholder="MTK"
          formControlName="tokenAmount"
          required
        />
      </div>
    </div>

    <div class="sub-container">
      <label for="address" class="label">User Address</label>
      <input
        type="text"
        id="address"
        class="input"
        placeholder="0x12345...890"
        formControlName="userAddress"
        required
      />
    </div>

    <div class="btn-container">
      <button type="submit" class="btn">Mint Token</button>
    </div>
  </form>
</div>
